{
  "size": 0,
  "query": {
    "bool": {
      "must": [
        {
          "term": {
            "eventtype": {
              "value": "tbd"
            }
          }
        }
      ],
      "filter": {
        "range": {
          "@timestamp": {
            "from": "now-7d",
            "to": "now"
          }
        }
      }
    }
  },
  "aggs": {
    "total_requests_per_day_hour": {
      "terms": {
        "script": {
          "lang": "painless",
          "inline": "doc['@timestamp'].date.dayOfWeek + ':' + doc['@timestamp'].date.hourOfDay"
        },
        "size": 168
      }
    }
  }
}
